/*==============================================
        Css pour les pages
        auth/inscription
        publicationTrade
        subscribe
==============================================*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9ebee;
}

.container {
    padding: 0;
}

.top {
    margin: -20px 0 0 0;
    height: 852px;
    background: url('../img/auth_inscription_BG_top.png') no-repeat #e9ebee;
    background-size: cover;
    background-position: top;
}

.top h1 {
    padding-top: 100px;
    font-family: 'Oleo Script', cursive;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.title {
    font-size: 8em;
}

nav.navbar-default{
    background-color: #3b5998 !important;
    margin-bottom: 0px !important;
}

nav.navbar-default .navbar-brand {
    color: #fff;
}
nav.navbar-default .navbar-brand:hover{
    color: #fff;
}
a.navbar-auth-inscription {
    font-size: 1.5em;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
}

a.navbar-auth-inscription:hover,
a.navbar-auth-inscription:active {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.formAuth {
    margin-top: -360px;
}

.inscrip {
    margin-top: 100px;
}
.authAlert{
    position: relative;
    top: -400px;
}

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */

@media only screen and (max-width: 768px) {
    .title {
        font-size: 6em;
    }
}
@media only screen and (max-width: 480px) {
    .title {
        font-size: 5em;
    }
    .top h1 {
        padding-top: 50px;
    }
}

/*========== fin du css page Auth/inscription ==========*/

/*=======================================================
                Css pour mesPlublications
=======================================================*/
.sidebar-left{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    float: left;
    width: 25%;
    min-width: 170px;
    height: 100vh;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navside ul{
    padding: 0;
}
.sidebar-left .infos{
    flex: 1;
}
.navside{
    flex: 1;
    /* margin-top: 25vh; */
}
.navside li{
    list-style: none;
    margin-bottom: 5px;
    font-size: 1.2em;
}
.navside li a{
    color: #000;
}
.navside li a:hover{
    font-weight: bold;
}
.content{
    float: left;
    width: 70%;
    min-width: 480px;
    height: 100%;
    padding-top: 20px;
}
hr{
    margin-top: 50px;
    border: 1px solid #aaa;
}
.publications{
    margin-top: 50px;
    margin-left: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
}

/*============= fin css mesPublications ==============*/


p {
    text-align: center;

}
//*********************************************************************************************************
                        CSS de la page suscribe
*********************************************************************************************************/
.suscribe-header
{
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0683c9;
  color: white;
}
/*********************************************************************************************************
                                Fin CSS de la page sucribe
*********************************************************************************************************/


/*****************************************************
        PUBLICATION TRADE
*****************************************************/
#modification{
    margin-top: 20px;
}
/* ---------------------
    CONTENUE
------------------------ */
#partie1{
    margin-top: 20px;
    margin-left: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
}

h3.posttitle{
    text-align: center;
    margin-top: 30px;
}
hr.posthr{
    margin-top: 10px;
}
.pouce{
    text-align: center;
    margin-top: 10px
}
.headpost{
    position: relative;
}
.headpost img{
    margin-right: 10px;
    float: left;
}
.headpost h3{
    position: absolute;
    top : -20px;
    left: 80px;
}
.headpost h2{
    position: absolute;
    top: 10px;
    left: 80px;
}
.clear{clear: both;}
/*===================================================
                mesPublications.php
===================================================*/

.green{
    color: green;
}
