/*********************************************************************************************************
                        CSS de la page suscribe
*********************************************************************************************************/
.suscribe-header
{
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0683c9;
  color: white;
}
/*********************************************************************************************************
                                Fin CSS de la page sucribe
*********************************************************************************************************/