/*****************************************************
        MODIFICATION
*****************************************************/

body{
    background-color: #e9ebee;
}

/* ---------------------
    MENU
------------------------ */
nav.navbar-default{
    background-color: #3b5998 !important;
    margin-bottom: 0px !important;
}
nav.navbar-default .navbar-brand{
    color:  #fff;
}

nav.navbar-default .navbar-brand:hover{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.navbar-default .navbar-nav > li > a{
    color:  #fff;
}

.navbar-default .navbar-nav > li > a:hover{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.image{
    margin: 50px 0 20px 0;
}

